body {
	--text-color: #333;
	--background-color: #fff;
	--shadow-main-color: rgba(0,0,0,.15);
	--shadow-secondary-color: rgba(0,0,0,.25);
	--link-main-color: #4c95ff;
	--link-hover-color: #82b6ff;
	--shadow-main: 0 .15em 1em var(--shadow-main-color);
	--shadow-secondary: -.15em 1em 1em var(--shadow-secondary-color);
	--main-transition: .25s ease-in-out;

	font-family: 'Myriad Pro', arial, sans-serif;
  font-size: 20px;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0;
	margin: 0 auto;
  min-height: 300vh;
	position: relative;
}
body.dark-theme {
	--text-color: #ededed;
	--background-color: #333;
	--shadow-main-color: rgba(0,0,0,.5);
	--shadow-secondary-color: rgba(0,0,0,.4);
}
@media (prefers-color-scheme: dark) {
	body {
		--text-color: #ededed;
		--background-color: #333;
		--shadow-main-color: rgba(0,0,0,.5);
		--shadow-secondary-color: rgba(0,0,0,.4);
	}
	body.light-theme {
		--text-color: #333;
		--background-color: #fff;
		--shadow-main-color: rgba(0,0,0,.15);
		--shadow-secondary-color: rgba(0,0,0,.25);
		--link-main-color: #4c95ff;
		--link-hover-color: #82b6ff;
	}
}
@media only screen and (max-width: 500px) {
	body {
		font-size: 16px; 
	}
}
h1, h2, h3 {
	width: 100%;
	text-align: center;
	padding: 1em 5%;
	box-sizing: border-box;
	margin: 0 auto;
}
h1 {
	padding: 2em 5% 1em 5%;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li, p {
	margin-bottom: .5em;
	margin-top: 0;
}
ol li {
	text-align: left;
}
a {
	color: var(--link-main-color);
	text-decoration: none;
	transition: var(--main-transition);
}
a:hover {
  text-shadow: 0.01em -0.01em 0.01em #4c95ff, 0.01em 0.01em 0.01em #4c95ff;
	transition: var(--main-transition);
}
button {
	background: transparent;
	font-size: inherit;
	border: none;
	font-family: 'Myriad Pro';
	letter-spacing: 0.075em;
	padding: 0;
	margin: 0 auto;
	cursor: pointer;
	transition: var(--main-transition);
}
button:hover {
	transition: var(--main-transition);
}
svg {
	transition: var(--main-transition);
}
.navbar__arrow {
	fill: var(--link-main-color);
}
.h-0 {
	overflow: hidden;
}

/*--- navbar ---*/

.navbar {
	position: relative;
}
.navbar__wrapper {
	background: var(--background-color);
	box-shadow: var(--shadow-main);
	width: 100%;
	padding: .5em 1em;
	padding: .75em 1em;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	transition: var(--main-transition);
}
@media only screen and (max-width: 850px) {
	.navbar__wrapper {
		padding: .5em 1em;
		height: 3em;
		overflow: hidden;
		
		flex-direction: column;
		align-items: flex-end;
    justify-content: flex-start;
	}
	.navbar.active .navbar__wrapper {
		height: 100%;
		padding-bottom: 1.5em;
	}
}
.navbar__navigation {
	width: 100%;
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 850px) {
	.navbar__navigation {
		align-items: flex-start;
		order: 2;
		height: 80%;
	}
}
@media only screen and (max-width: 500px) {
	.navbar__navigation {
		flex-direction: column;
	}
}
.navbar__logo {
	flex-shrink: 0;
}
@media only screen and (max-width: 850px) {
  .navbar__logo {
    margin-top: -1em;
  }
}
.navbar__navicon {
	display: none;
}
@media only screen and (max-width: 850px) {
	.navbar__navicon {
		order: 1;
		display: flex;
		position: relative;
		background: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;
		z-index: 1;
		font-size: 2em;
		width: .65em;
		min-width: .65em;
		height: .5em;
		min-height: .5em;
		margin-top: .25em;
		-webkit-tap-highlight-color: transparent;
	}
	.navbar__navicon::before, .navbar__navicon::after {
		background: var(--text-color);
		border-radius: .05em;
		box-sizing: border-box;
		position: absolute;
		content: '';
		display: block;
		width: 100%;
		height: .065em;
		transition: var(--main-transition);
	}
	.navbar__navicon::before {
		width: 100%;
		top: 25%;
	}
	.navbar__navicon::after {
		width: 100%;
		bottom: 25%;
	}
	.navbar.active .navbar__navicon::before {
		top: 43.5%;
		transform: rotate(45deg);
		transition: var(--main-transition);
	}
	.navbar.active .navbar__navicon::after {
		bottom: 43.5%;
		transform: rotate(-45deg);
		transition: var(--main-transition);
	}
}
.navbar__list {
	margin: 0 1em;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 2em 2em;
	flex-wrap: wrap;

	transition: var(--main-transition);
}
@media only screen and (max-width: 850px) {
	.navbar__list {
		justify-content: flex-start;
    align-items: flex-start;
    height: 85%;
		padding: .5em 0 0 0;
    margin: 1em 0 0 -3em;
    overflow: hidden;
	}
	.navbar.active .navbar__list {
		overflow: scroll;
		transition: var(--main-transition);
	}
}
@media only screen and (max-width: 500px) {
	.navbar__list {
		width: 100%;
		padding: .5em 0 1em 0;
    margin: .5em 0 0 0;

		flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
	}
}
.navbar__item {
	position: relative;
	overflow: hidden;

	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;

	transition: var(--main-transition);
}
.navbar__item:hover {
	overflow: visible;
	transition: var(--main-transition);
}
.navbar__item:hover .navbar__link {
	transition: var(--main-transition);
}
.navbar__item:hover .navbar__arrow {
	margin-top: .4em;
	transform: rotateX(180deg);
	transition: var(--main-transition);
}
@media only screen and (max-width: 850px) {
	.navbar__item {
		overflow: visible;
		align-items: flex-start;
	}
}
@media only screen and (max-width: 500px) {
	.navbar__item {
		align-items: center;
		justify-content: center;
	}
}
.navbar__link {
  overflow: visible;
  display: flex;
}
.navbar__link:hover {
	/*transition: var(--main-transition);*/
}
.navbar__link:hover .navbar__arrow {
	margin-top: .4em;
	transform: rotateX(180deg);
}
.navbar__link:hover ~ .navbar__subitem {
	opacity: 1;
  z-index: 1;
	transition: 1var(--main-transition);
}
@media only screen and (max-width: 850px) {
	.navbar__link {
		font-size: 125%;
	}
}
.navbar__arrow {
	align-self: center;
	display: inherit;
	width: .75em;
	height: .75em;
	margin-top: -.15em;
	margin-left: -.2em;
}
@media only screen and (max-width: 850px) {
	.navbar__arrow, .navbar__arrow-2 {
/* 		display: none; */
	}
}
.navbar__subitem {
	background: var(--background-color);
	border-radius: 5%;
	box-shadow: var(--shadow-main);
	position: absolute;
	top: calc(100% + .5em);
	left: -1em;
	padding: 0 1em 1em 1em;
	opacity: 0;
	/*z-index: 1;*/

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	transition: var(--main-transition);
}
.navbar__subitem::before {
	content: '';
	position: absolute;
	top: -.5em;
	left: 0;
	width: 100%;
	height: .5em;
}
.navbar__subitem:hover {
	opacity: 1;
	/*z-index: 1;*/
	transition: var(--main-transition);
}
@media only screen and (max-width: 850px) {
	.navbar__subitem {
		position: static;
		opacity: 1;
		z-index: 1;
		box-shadow: none;
		align-items: flex-start;
    padding: 0;
	}
	.navbar__subitem::before {
		display: none;
	}
}
@media only screen and (max-width: 500px) {
	.navbar__subitem {
		padding: 0;
		align-items: center;
	}
}
.navbar__sublink {
	margin-top: .75em;
}
.navbar__sublink:hover {
	/*transform: scale(1.05);*/
	transition: var(--main-transition);
}
.navbar__socials {
	display: flex;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 850px) {
	.navbar__socials {
		order: 3;
	}
}
@media only screen and (max-width: 500px) {
	.navbar__socials {
		margin: auto;
		padding-top: .5em;
	}
}
.navbar__themeswitch {
	background: var(--background-color);
	border-radius: 50%;
	width: 1em;
	height: 1em;
	padding: .85em;
	margin-left: 1em;
	color: var(--text-color);
	position: relative;
	box-shadow: var(--shadow-main);
}
@media only screen and (max-width: 850px) {
	.navbar__themeswitch {
		margin: 0 0 0 .5em;
	}
}
@media only screen and (max-width: 500px) {
	.navbar__themeswitch {
		margin: 0 .5em;
	}
}
.navbar__themeswitch::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 1em;
	height: 1em;
	opacity: 1;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56' style='fill: %23efd19f;'%3E%3Cpath d='M 31.2110 14.9453 C 31.4922 14.9453 31.6563 14.7578 31.7031 14.5000 C 32.4297 10.6094 32.4063 10.5156 36.4610 9.7187 C 36.7422 9.6719 36.9063 9.5312 36.9063 9.2500 C 36.9063 8.9453 36.7422 8.8047 36.4610 8.7578 C 32.4063 7.9375 32.4297 7.8672 31.7031 3.9765 C 31.6563 3.7187 31.4922 3.5312 31.2110 3.5312 C 30.9297 3.5312 30.7891 3.7187 30.7422 3.9765 C 29.9922 7.8672 30.0391 7.9375 25.9610 8.7578 C 25.7031 8.8047 25.5157 8.9453 25.5157 9.2500 C 25.5157 9.5312 25.7031 9.6719 25.9610 9.7187 C 30.0626 10.5156 29.9922 10.6094 30.7422 14.5000 C 30.7891 14.7578 30.9297 14.9453 31.2110 14.9453 Z M 42.4375 30.7891 C 42.8594 30.7891 43.1641 30.4844 43.2110 30.0391 C 43.9844 23.7578 44.2891 23.5703 50.6406 22.5860 C 51.1561 22.4922 51.4609 22.2578 51.4609 21.7891 C 51.4609 21.3438 51.1561 21.0625 50.7342 20.9922 C 44.3360 19.7734 43.9844 19.8203 43.2110 13.5391 C 43.1641 13.0938 42.8594 12.7891 42.4375 12.7891 C 41.9922 12.7891 41.6875 13.0938 41.6407 13.5156 C 40.8204 19.8672 40.6094 20.0781 34.1172 20.9922 C 33.6953 21.0391 33.3907 21.3438 33.3907 21.7891 C 33.3907 22.2344 33.6953 22.4922 34.1172 22.5860 C 40.6094 23.7812 40.8438 23.8047 41.6407 30.0860 C 41.6875 30.4844 41.9922 30.7891 42.4375 30.7891 Z M 24.7891 52.4688 C 33.2735 52.4688 40.0469 48.1797 43.2813 40.9609 C 43.6797 40.0938 43.6094 39.3438 43.1875 38.9453 C 42.8126 38.5938 42.1563 38.5469 41.4297 38.8047 C 39.5313 39.5547 37.3047 39.9297 34.7500 39.9297 C 24.1094 39.9297 17.3126 33.2734 17.3126 22.8906 C 17.3126 19.9375 17.8750 17.1016 18.6016 15.6485 C 19.0000 14.8281 19.0000 14.1250 18.6485 13.6797 C 18.2266 13.2109 17.4766 13.1406 16.5626 13.4922 C 9.3672 16.3281 4.5391 23.9687 4.5391 32.5469 C 4.5391 43.9609 12.9531 52.4688 24.7891 52.4688 Z'%3E%3C/path%3E%3C/svg%3E");
	transition: var(--main-transition);
}
.navbar__themeswitch::after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 1em;
	height: 1em;
	opacity: 0;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill: %23efd19f;'%3E%3Cpath d='M4.069 13h-4.069v-2h4.069c-.041.328-.069.661-.069 .25s.028.672.069 1zm3.034-7.312l-2.881-2.881-1.414 1.414 2.881 2.881c.411-.529.885-1.003 1.414-1.414zm11.209 1.414l2.881-2.881-1.414-1.414-2.881 2.881c.528.411 1.002.886 1.414 1.414zm-6.312-3.102c.339 0 .672.028 1 .069v-4.069h-2v4.069c.328-.041.661-.069 1-.069zm0 16c-.339 0-.672-.028-1-.069v4.069h2v-4.069c-.328.041-.661.069-1 .069zm7.931-9c.041.328.069.661.069 .25s-.028.672-.069 1h4.069v-2h-4.069zm-3.033 7.312l2.88 2.88 1.415-1.414-2.88-2.88c-.412.528-.886 1.002-1.415 1.414zm-11.21-1.415l-2.88 2.88 1.414 1.414 2.88-2.88c-.528-.411-1.003-.885-1.414-1.414zm6.312-10.897c-3.314 0-6 2.686-6 6s2.686 6 6 6 6-2.686 6-6-2.686-6-6-6z'/%3E%3C/svg%3E");
	transition: var(--main-transition);
}
.navbar__themeswitch.active.navbar__themeswitch::before {
	opacity: 0;
}
.navbar__themeswitch.active.navbar__themeswitch::after {
	opacity: 1;
}
.telegram, .whatsapp {
	background: var(--background-color);
	border-radius: 50%;
	width: 1em;
	height: 1em;
	padding: .35em;
	margin-left: 1em;
	color: var(--text-color);
	position: relative;
	box-shadow: var(--shadow-main);
}
@media only screen and (max-width: 850px) {
	.telegram, .whatsapp {
		margin: 0 .5em;
	}
}
.telegram::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill:%230088cc;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3E%3Cpath d='M12,0c-6.626,0 -12,5.372 -12,12c0,6.627 5.374,12 12,12c6.627,0 12,-5.373 12,-12c0,-6.628 -5.373,-12 -12,-12Zm3.224,17.871c0.188,0.133 0.43,0.166 0.646,0.085c0.215,-0.082 0.374,-0.267 0.422,-0.491c0.507,-2.382 1.737,-8.412 2.198,-10.578c0.035,-0.164 -0.023,-0.334 -0.151,-0.443c-0.129,-0.109 -0.307,-0.14 -0.465,-0.082c-2.446,0.906 -9.979,3.732 -13.058,4.871c-0.195,0.073 -0.322,0.26 -0.316,0.467c0.007,0.206 0.146,0.385 0.346,0.445c1.381,0.413 3.193,0.988 3.193,0.988c0,0 0.847,2.558 1.288,3.858c0.056,0.164 0.184,0.292 0.352,0.336c0.169,0.044 0.348,-0.002 0.474,-0.121c0.709,-0.669 1.805,-1.704 1.805,-1.704c0,0 2.084,1.527 3.266,2.369Zm-6.423,-5.062l0.98,3.231l0.218,-2.046c0,0 3.783,-3.413 5.941,-5.358c0.063,-0.057 0.071,-0.153 0.019,-0.22c-0.052,-0.067 -0.148,-0.083 -0.219,-0.037c-2.5,1.596 -6.939,4.43 -6.939,4.43Z'/%3E%3C/svg%3E");
}
.whatsapp::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='fill:%2325D366;'%3E%3Cpath d='M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z'/%3E%3C/svg%3E");
}