:root {
    --text-color: hsl(0, 0%, 20%);
    --background-color: #f5f3f3;
    --links-bg-color: #fff;
    --link-main-color: #4c95ff;
    --link-hover-color: #82b6ff;
    --line-color: #333;
}

:root:has(#dark:checked) {
    --text-color: #ededed;
	--background-color: #333;
    --links-bg-color: hsl(0, 0%, 30%);
    --line-color: #f5f3f3;
}

:root:has(#light:checked) {
    --text-color: #333;
    --background-color: #f5f3f3;
    --links-bg-color: #fff;
    --line-color: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ededed;
        --background-color: #333;
        --links-bg-color: hsl(0, 0%, 30%);
        --line-color: #f5f3f3;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #333;
        --background-color: #f5f3f3;
        --links-bg-color: #fff;
        --line-color: #333;
    }
}

html {
    color-scheme: dark light;
    overflow-x: hidden;
    overflow-x: clip;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-x: clip;
    font-family: 'Myriad Pro', arial, sans-serif;
    font-size: 16px; /* Default mobile font size */
    background-color: var(--background-color);
    transition: all 0.5s ease;
}

.li_link a,
.li_link {
    color: var(--text-color);
}

a.li_link:is(:hover, :focus-visible, :active) {
    opacity: 0.8;
}

.header__primary {
    position: relative;
    color: var(--text-color);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.25);
}

.header__navbar-wrapper {
    --_height-dvh: calc(100dvh - calc(var(--_inset) * 2));
    --_height-vh: calc(100vh - calc(var(--_inset) * 2));
    --_inset: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    background-color: var(--background-color);
    overflow-y: hidden;
    transition: all 0.5s ease;
    position: absolute;
    flex-direction: column;
    inset: var(--_inset) 0 0 0;
    justify-content: space-between;
    height: 0;
}

.header__navbar-wrapper.scrolled-up {
    height: var(--_height-dvh, var(--_height-vh));
}

.header__logo {
    flex-shrink: 0;
}

.nav__primary-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    gap: 2em;
}

.nav__primary {
    margin-inline: auto;
}

.controls__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2em;
}

.li_link {
    cursor: pointer;
}

.burger__menu {
    cursor: pointer;
    display: block;
}

.line {
    stroke: var(--line-color);
    stroke-width: 3;
    transition: all 0.3s ease;
    transform-origin: center;
}

.social__link,
.theme-label {
    aspect-ratio: 1;
    width: 2.2rem;
    display: block;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--links-bg-color);
    -webkit-box-shadow: 0px 7px 37px -6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 7px 37px -6px rgba(0,0,0,0.25);
    box-shadow: 0px 7px 37px -6px rgba(0,0,0,0.25);
}

.social__link img,
.theme-label img {
    width: 60%;
    user-select: none;
}

.dropdown_link {
    position: relative;
}

.dropdown__arrow {
    width: 1em;
    position: absolute;
    right: -0.8em;
    top: 0;
    transition: all 0.3s ease;
}

.sublink__ul {
    z-index: 5;
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50%;
    background-color: var(--background-color);
    padding: 0.7em;
}

.sublink__ul li:first-of-type {
    margin-bottom: 0.7em;
}

.dropdown_link:hover .sublink__ul {
    display: block;
}

.dropdown_link:hover .dropdown__arrow {
    transform: rotateX(180deg) translateY(-5px);
}

.burger__menu.active .line1 {
    transform: rotate(45deg) translate(0, 10px);
}

.burger__menu.active .line2 {
    opacity: 0;
}

.burger__menu.active .line3 {
    transform: rotate(-45deg) translate(0, -10px);
}

input[type="radio"] {
    appearance: none;
    position: absolute;
    right: 9999px;
}

.theme-label {
    cursor: pointer;
    user-select: none;
}

.theme-label:has(input[type="radio"]:checked) {
    display: none;
}

@media screen and (min-width: 800px) {
    body {
        font-size: 20px;
    }
    .header__navbar-wrapper {
        position: static;
        flex-direction: row;
        height: auto !important;
        overflow-y: visible;
    }
    .nav__primary-ul {
        flex-direction: row;
        padding-top: 0;
    }
    .controls__wrapper {
        padding-bottom: 0;
    }
    .burger__menu {
        display: none;
    }
}
